.blok-notifies {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Default notification styles */
.blok-notify {
     position: relative;
     width: 230px;
     margin-top: 15px;
     padding: 13px 16px;
     background: #fff;
     box-shadow: 0 11px 17px 0 rgba(23,32,61,.13);
     border-radius: 5px;
     font-size: 14px;
     line-height: 1.4em;
     word-wrap: break-word;
}

.blok-notify::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 3px;
    height: calc(100% - 6px);
    margin: 3px;
    border-radius: 5px;
    background: transparent;
}

/* Cross button */
.blok-notify__cross {
     position: absolute;
     top: 7px;
     right: 15px;
     width: 10px;
     height: 10px;
     padding: 5px;
     opacity: 0.54;
     cursor: pointer;
}

.blok-notify__cross::before,
.blok-notify__cross::after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    height: 12px;
    width: 2px;
    background: #575d67;
}

.blok-notify__cross::before {
    transform: rotate(-45deg);
}

.blok-notify__cross::after {
    transform: rotate(45deg);
}

.blok-notify__cross:hover {
    opacity: 1;
}

/* Confirm buttons */
.blok-notify__btns-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5px;
}

.blok-notify__button {
    border: none;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

.blok-notify__button:last-child {
    margin-left: 10px;
}

.blok-notify__button.is-cancel {
    background: #f2f5f7;
    box-shadow: 0 2px 1px 0 rgba(16,19,29,0);
    color: #656b7c;
}

.blok-notify__button.is-cancel:hover {
     background: color(#f5f5f5 blackness(+3%));
}

.blok-notify__button.is-confirm {
    background: #34c992;
    box-shadow: 0 1px 1px 0 rgba(18,49,35,.05);
    color: #fff;
}

.blok-notify__button.is-confirm:hover {
    background: color(#34c992 blackness(+10%));
}

.blok-notify__input {
    max-width: 130px;
    padding: 5px 10px;
    background: #f7f7f7;
    border: 0;
    border-radius: 3px;
    font-size: 13px;
    color: #656b7c;
    outline: none;
}

.blok-notify__input::placeholder {
    color: #656b7c;
}

.blok-notify__input:focus::placeholder {
   color: rgba(101, 107, 124, 0.3);
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.blok-notify.is-bounce-in {
    animation-name: bounceIn;
    animation-duration: 600ms;
    animation-iteration-count: 1;
}

.blok-notify.is-success {
    background: #fafffe !important;
}

.blok-notify.is-success::before {
    background: #41ffb1 !important;
}

.blok-notify.is-error {
    background: #fffbfb !important;
}

.blok-notify.is-error::before {
    background: #fb5d5d !important;
}
