.blok-element {
    @apply relative opacity-100 animate-fade-in;

    &:first-of-type {
        @apply mt-0;
    }

    &--selected &__content {
        background: theme('colors.selection');

        /* Workaround Safari case when user can select inline-fragment with cross-block-selection */
        & [contenteditable] {
            @apply select-none;
        }

        img,
        .blok-stub {
            @apply opacity-55;
        }
    }

    &--stretched &__content {
        @apply max-w-none;
    }

    &__content {
        @apply relative mx-auto transition-colors duration-150 ease-out;
        max-width: theme('maxWidth.content');
    }

    a {
        @apply cursor-pointer underline;
        color: theme('colors.link');
    }

    b {
        @apply font-bold;
    }

    i {
        @apply italic;
    }
}
