.blok-element {
    @apply relative opacity-100 animate-fade-in;

    &:first-of-type {
        @apply mt-0;
    }

    &__content {
        @apply relative mx-auto transition-colors duration-150 ease-out;
        max-width: theme('maxWidth.content');
    }
}

.blok-element.is-selected .blok-element__content {
    background: theme('colors.selection');

    /* Workaround Safari case when user can select inline-fragment with cross-block-selection */
    [contenteditable] {
        @apply select-none;
    }

    img,
    .blok-stub {
        @apply opacity-55;
    }
}

.blok-element.is-stretched .blok-element__content {
    @apply max-w-none;
}

.blok-element a {
    @apply cursor-pointer underline;
    color: theme('colors.link');
}

.blok-element b {
    @apply font-bold;
}

.blok-element i {
    @apply italic;
}
