/**
 * Block Tool wrapper
 */
.blok-base-element {
    @apply py-[theme('spacing.block-padding-vertical')] px-0;
}

.blok-base-element::-webkit-input-placeholder {
    @apply !leading-normal;
}

/**
 * Input
 */
.blok-base-input {
    @apply w-full rounded-[3px] border border-line-gray px-3 py-2.5 outline-none;
    box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
}

/**
 * Workaround Firefox bug with cursor position on empty content editable elements with ::before pseudo
 * https://bugzilla.mozilla.org/show_bug.cgi?id=904846
 */
.blok-base-input[data-blok-placeholder]::before {
    @apply !static inline-block w-0 whitespace-nowrap pointer-events-none;
}

/**
 * Settings
 * @deprecated - use tunes config instead of creating html element with controls
 */
.blok-base-settings-button {
    @apply inline-flex items-center justify-center rounded-[3px] cursor-pointer border-0 outline-none bg-transparent align-bottom text-inherit m-0;
    min-width: theme('width.toolbox-btn');
    min-height: theme('height.toolbox-btn');

    svg {
        @apply w-auto h-auto;
    }
}

.blok-base-settings-button.is-focused {
    /* Expanded --button-focused mixin */
    @apply shadow-button-focused bg-item-focus-bg;
}

.blok-base-settings-button.is-focused.is-animated {
    animation: buttonClicked 250ms;
}

.blok-base-settings-button.is-active {
    @apply text-active-icon;
}

/* Mobile styles for settings button - moved outside nesting to avoid @apply in nested @screen */
@screen mobile {
    .blok-base-settings-button {
        @apply w-toolbox-btn-mobile h-toolbox-btn-mobile rounded-lg;
    }

    .blok-base-settings-button svg {
        @apply w-icon-mobile h-icon-mobile;
    }
}

@screen can-hover {
    .blok-base-settings-button:hover {
        @apply bg-bg-light;
    }
}

/**
 * Loader
 */
.blok-base-loader {
    @apply relative border border-line-gray;
}

.blok-base-loader::before {
    @apply absolute left-1/2 top-1/2 w-[18px] h-[18px] rounded-full content-[''];
    margin: -11px 0 0 -11px;
    border: 2px solid theme('colors.line-gray');
    border-left-color: theme('colors.active-icon');
    animation: rotation 1.2s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * Button
 */
.blok-base-button {
    @apply p-[13px] rounded-[3px] border border-line-gray text-[14.9px] bg-white text-center cursor-pointer text-gray-text;
    box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
}

@screen can-hover {
    .blok-base-button:hover {
        background-color: #fbfcfe;
        box-shadow: 0 1px 3px 0 rgba(18, 30, 57, 0.08);
    }
}

.blok-base-button svg {
    @apply h-5 mr-[0.2em] -mt-0.5;
}
