/**
 * Block Tool wrapper
 */
.blok-base-element {
    @apply py-[var(--block-padding-vertical)] px-0;

    &::-webkit-input-placeholder {
        @apply !leading-normal;
    }
}

/**
 * Input
 */
.blok-base-input {
    @apply w-full rounded-[3px] border border-[var(--color-line-gray)] px-3 py-2.5 outline-none;
    box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);

    /**
     * Workaround Firefox bug with cursor position on empty content editable elements with ::before pseudo
     * https://bugzilla.mozilla.org/show_bug.cgi?id=904846
     */
    &[data-blok-placeholder]::before {
        @apply !static inline-block w-0 whitespace-nowrap pointer-events-none;
    }
}

/**
 * Settings
 * @deprecated - use tunes config instead of creating html element with controls
 */
.blok-base-settings-button {
    @apply inline-flex items-center justify-center rounded-[3px] cursor-pointer border-0 outline-none bg-transparent align-bottom text-inherit m-0;
    min-width: var(--toolbox-buttons-size);
    min-height: var(--toolbox-buttons-size);

    &--focused {
        @apply --button-focused;

        &-animated {
            animation: buttonClicked 250ms;
        }
    }

    &--active {
        color: var(--color-active-icon);
    }

    svg {
        @apply w-auto h-auto;

        @media (--mobile) {
            width: var(--icon-size--mobile);
            height: var(--icon-size--mobile);
        }
    }

    @media (--mobile) {
        width: var(--toolbox-buttons-size--mobile);
        height: var(--toolbox-buttons-size--mobile);
        border-radius: 0.5rem;
    }

    @media (--can-hover) {
        &:hover {
            background-color: var(--bg-light);
        }
    }
}

/**
 * Loader
 */
.blok-base-loader {
    @apply relative border border-[var(--color-line-gray)];

    &::before {
        @apply absolute left-1/2 top-1/2 w-[18px] h-[18px] rounded-full content-[''];
        margin: -11px 0 0 -11px;
        border: 2px solid var(--color-line-gray);
        border-left-color: var(--color-active-icon);
        animation: rotation 1.2s infinite linear;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * Button
 */
.blok-base-button {
    @apply p-[13px] rounded-[3px] border border-[var(--color-line-gray)] text-[14.9px] bg-white text-center cursor-pointer;
    box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
    color: var(--grayText);

    @media (--can-hover) {
        &:hover {
            background-color: #fbfcfe;
            box-shadow: 0 1px 3px 0 rgba(18, 30, 57, 0.08);
        }
    }

    svg {
        @apply h-5 mr-[0.2em] -mt-0.5;
    }
}
