@layer components {
  .blok-inline-toolbar {
    --y-offset: 8px;

    /* These variables duplicate the ones defined in popover. @todo move them to single place */
    --color-background-icon-active: rgba(56, 138, 229, 0.1);
    --color-text-icon-active: #388ae5;
    --color-text-primary: black;

    @apply absolute top-0 left-0 z-[3] opacity-100 visible transition-opacity duration-[250ms] ease-out will-change-[opacity,left,top];

    [hidden] {
      @apply !hidden;
    }

    &__toggler-and-button-wrapper {
      @apply flex w-full px-1.5 py-0;
    }

    &__buttons {
      @apply flex;
    }

    &__dropdown {
      @apply flex p-1.5 mx-1.5 -ml-1.5 items-center cursor-pointer border-r border-line-gray box-border;

      @media (--can-hover) {
        &:hover {
          background-color: var(--bg-light);
        }
      }

      &--hidden {
        @apply hidden;
      }

      &-content,
      &-arrow {
        @apply flex;

        svg {
          @apply w-icon h-icon;
        }
      }
    }

    &__shortcut {
      @apply opacity-60 mt-[3px];
      word-spacing: -3px;
    }
  }

  .blok-inline-tool {
    @apply flex justify-center items-center border-0 rounded h-full p-0 w-7 bg-transparent cursor-pointer leading-normal;
    color: var(--color-text-primary);

    @media (--mobile) {
      width: 2.25rem;
      height: 2.25rem;
    }

    @media (--can-hover) {
      &:hover {
        background-color: #f8f8f8;
      }
    }

    svg {
      @apply block w-icon h-icon;

      @media (--mobile) {
        width: var(--icon-mobile);
        height: var(--icon-mobile);
      }
    }

    &--link {
      .icon--unlink {
        @apply hidden;
      }
    }

    &--unlink {
      .icon--link {
        @apply hidden;
      }

      .icon--unlink {
        @apply inline-block -mb-px;
      }
    }

    &-input {
      @apply hidden w-full m-0 px-2 py-1 text-sm leading-[22px] font-medium bg-[#f8f8f8] border border-[rgba(226,226,229,0.2)] rounded-md outline-none box-border appearance-none;
      font-family: inherit;

      @media (--mobile) {
        font-size: 15px;
        font-weight: 500;
      }

      &::placeholder {
        @apply text-gray-text;
      }

      &--showed {
        @apply block;
      }
    }

    &--active {
      @apply bg-[rgba(56,138,229,0.1)] text-[#388ae5];
    }
  }
}
