@layer components {
  .blok-inline-toolbar {
    --y-offset: 8px;


    @apply absolute top-0 left-0 z-[3] opacity-100 visible transition-opacity duration-[250ms] ease-out will-change-[opacity,left,top];

    [hidden] {
      @apply !hidden;
    }
  }

  .blok-inline-toolbar__toggler-and-button-wrapper {
    @apply flex w-full px-1.5 py-0;
  }

  .blok-inline-toolbar__buttons {
    @apply flex;
  }

  .blok-inline-toolbar__dropdown {
    @apply flex p-1.5 mx-1.5 -ml-1.5 items-center cursor-pointer border-r border-line-gray box-border;
  }

  @screen can-hover {
    .blok-inline-toolbar__dropdown:hover {
      background-color: theme('colors.bg-light');
    }
  }

  .blok-inline-toolbar__dropdown-content,
  .blok-inline-toolbar__dropdown-arrow {
    @apply flex;

    svg {
      @apply w-icon h-icon;
    }
  }

  .blok-inline-toolbar__dropdown.is-hidden {
    @apply hidden;
  }

  .blok-inline-toolbar__shortcut {
    @apply opacity-60 mt-[3px];
    word-spacing: -3px;
  }

  .blok-inline-tool {
    @apply flex justify-center items-center border-0 rounded h-full p-0 w-7 bg-transparent cursor-pointer leading-normal;
    color: theme('colors.text-primary');
  }

  @screen mobile {
    .blok-inline-tool {
      width: theme('width.icon-mobile');
      height: theme('height.icon-mobile');
    }
  }

  @screen can-hover {
    .blok-inline-tool:hover {
      background-color: theme('colors.item-hover-bg');
    }
  }

  .blok-inline-tool svg {
    @apply block w-icon h-icon;
  }

  @screen mobile {
    .blok-inline-tool svg {
      width: theme('width.icon-mobile');
      height: theme('height.icon-mobile');
    }
  }

  .blok-inline-tool.is-link {
    .icon--unlink {
      @apply hidden;
    }
  }

  .blok-inline-tool.is-unlink {
    .icon--link {
      @apply hidden;
    }

    .icon--unlink {
      @apply inline-block -mb-px;
    }
  }

  .blok-inline-tool-input {
    @apply hidden w-full m-0 px-2 py-1 text-sm leading-[22px] font-medium bg-item-hover-bg border border-[rgba(226,226,229,0.2)] rounded-md outline-none box-border appearance-none;
    font-family: inherit;
  }

  @screen mobile {
    .blok-inline-tool-input {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .blok-inline-tool-input::placeholder {
    @apply text-gray-text;
  }

  .blok-inline-tool-input.is-showed {
    @apply block;
  }

  .blok-inline-tool.is-active {
    @apply bg-icon-active-bg text-icon-active-text;
  }
}
