@layer components {
  .blok-search-field {
    @apply bg-[#F8F8F8] border border-[rgba(226,226,229,0.20)] rounded p-0.5 grid grid-cols-[auto_auto_1fr] grid-rows-[auto];

    &__icon {
      @apply w-toolbox-btn h-toolbox-btn flex items-center justify-center mr-2.5;

      svg {
        @apply w-icon h-icon text-gray-text;
      }
    }

    &__input {
      @apply text-sm outline-none font-medium font-inherit border-0 bg-transparent m-0 p-0 leading-[22px] min-w-[calc(100%-theme('spacing.6')-10px)];

      &::placeholder {
        @apply text-gray-text font-medium;
      }
    }
  }
}
