
/**
 * We support two types of placeholders for contenteditable:
 *
 * 1. Regular-like placeholders. Will be visible when element is empty.
      -- Best choice for rare-used blocks like Headings.
 * 2. Current-block placeholders. Will be visible when element is empty and the block is focused.
      -- Best choice for common-used blocks like Paragraphs.
 */

@layer components {
  /**
   * Use [data-blok-placeholder="..."] to always show a placeholder on empty contenteditable.
   */
  .blok-editor [data-blok-placeholder]:empty::before,
  .blok-editor [data-blok-placeholder][data-blok-empty="true"]::before {
    @apply pointer-events-none text-gray-text cursor-text;
    content: attr(data-blok-placeholder);
  }

  /**
   * Use [data-blok-placeholder-active="..."] to show a placeholder on empty contenteditable in current block.
   */
  /* Paragraph tool shows the placeholder for the first block, event it is not focused, so we need to prepare styles for it */
  .blok-editor [data-blok-placeholder-active]:empty::before,
  .blok-editor [data-blok-placeholder-active][data-blok-empty="true"]::before {
    @apply pointer-events-none text-gray-text cursor-text;
  }

  .blok-editor [data-blok-placeholder-active]:empty:focus::before,
  .blok-editor [data-blok-placeholder-active][data-blok-empty="true"]:focus::before {
    content: attr(data-blok-placeholder-active);
  }
}
