.blok-editor.blok-editor--rtl {
    direction: rtl;

    .blok-list {
        padding-left: 0;
        padding-right: 40px;
    }

    .blok-toolbar {
        &__plus {
            right: calc(theme('width.toolbox-btn') * -1);
            left: auto;
        }

        &__actions {
            right: auto;
            left: calc(theme('width.toolbox-btn') * -1);

            @screen mobile {
                margin-left: 0;
                margin-right: auto;
                padding-right: 0;
                padding-left: 10px;
            }
        }
    }

    .blok-settings {
        left: 5px;
        right: auto;

        &::before {
            right: auto;
            left: 25px;
        }

        &__button {
            &:not(:nth-child(3n+3)) {
                margin-left: 3px;
                margin-right: 0;
            }
        }
    }

    .blok-conversion-tool {
        &__icon {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    .blok-inline-toolbar {
        &__dropdown {
            border-right: 0 solid transparent;
            border-left: 1px solid theme('colors.line-gray');
            margin: 0 -6px 0 6px;

            .icon--toggler-down {
                margin-left: 0;
                margin-right: 4px;
            }
        }
    }
}

.blok-editor--narrow.blok-editor--rtl {
    .blok-toolbar__plus {
        @screen not-mobile {
            left: 0;
            right: 5px;
        }
    }

    .blok-toolbar__actions {
        @screen not-mobile {
            left: -5px;
        }
    }
}
