.blok-editor.blok-editor--rtl {
    direction: rtl;
}

.blok-editor.blok-editor--rtl .blok-list {
    padding-left: 0;
    padding-right: 40px;
}

.blok-editor.blok-editor--rtl .blok-settings {
    left: 5px;
    right: auto;
}

.blok-editor.blok-editor--rtl .blok-settings::before {
    right: auto;
    left: 25px;
}

.blok-editor.blok-editor--rtl .blok-settings__button:not(:nth-child(3n+3)) {
    margin-left: 3px;
    margin-right: 0;
}

.blok-editor.blok-editor--rtl .blok-conversion-tool__icon {
    margin-right: 0;
    margin-left: 10px;
}
