.blok-toolbar {
    @apply absolute left-0 right-0 top-0 hidden transition-opacity duration-100 ease-linear will-change-[opacity,top];

    &__content {
        @apply relative mx-auto;
        max-width: theme('maxWidth.content');
    }

    &__plus {
        /* Expanded --toolbox-button mixin */
        @apply text-dark cursor-pointer w-toolbox-btn h-toolbox-btn rounded-[7px] inline-flex justify-center items-center select-none;
        @apply shrink-0;

        &-shortcut {
            @apply mt-[5px] opacity-60;
            word-spacing: -2px;

            &-key {
                @apply text-white;
            }
        }
    }

    /**
     * Block actions Zone
     */
    &__actions {
        @apply absolute flex opacity-0 pr-[5px];
        right: 100%;
    }

    &__settings-btn {
        /* Expanded --toolbox-button mixin */
        @apply text-dark cursor-pointer w-toolbox-btn h-toolbox-btn rounded-[7px] inline-flex justify-center items-center select-none;
        @apply cursor-pointer select-none;

        &:active {
            @apply cursor-grabbing;
        }
    }

    &__plus,
    &__settings-btn {
        svg {
            @apply h-6 w-6;
        }
    }
}

.blok-toolbar.is-opened {
    @apply block;
}

.blok-toolbar__actions.is-opened {
    @apply opacity-100;
}

.blok-toolbar__settings-btn.is-hidden {
    @apply hidden;
}

/* Mobile styles - moved outside nesting to avoid @apply in nested @screen */
@screen mobile {
    .blok-toolbar__plus {
        /* Expanded --overlay-pane mixin */
        @apply absolute bg-white border border-[#e8e8eb] shadow-overlay-pane rounded-[6px] z-[2];
        /* Expanded --toolbox-button mobile sizing */
        @apply w-toolbox-btn-mobile h-toolbox-btn-mobile;
        @apply static;
    }

    .blok-toolbar__actions {
        @apply right-auto;
    }

    .blok-toolbar__settings-btn {
        /* Expanded --overlay-pane mixin */
        @apply absolute bg-white border border-[#e8e8eb] shadow-overlay-pane rounded-[6px] z-[2];
        /* Expanded --toolbox-button mobile sizing */
        @apply w-toolbox-btn-mobile h-toolbox-btn-mobile;
        @apply static;
    }
}

@screen not-mobile {
    .blok-toolbar__settings-btn {
        @apply w-6;
    }

    .blok-editor--narrow .blok-toolbar__plus {
        @apply left-[5px];
    }
}

@screen can-hover {
    .blok-toolbar__plus:hover {
        @apply bg-bg-light;
    }

    .blok-toolbar__settings-btn:hover {
        @apply bg-bg-light cursor-grab;
    }

    .blok-toolbar__settings-btn.is-opened:hover {
        @apply cursor-pointer;
    }

    .blok-editor.is-toolbox-opened .blok-toolbar__settings-btn:hover {
        @apply cursor-pointer;
    }
}
