.blok-toolbar {
    @apply absolute left-0 right-0 top-0 hidden transition-opacity duration-100 ease-linear will-change-[opacity,top];

    &--opened {
        @apply block;
    }

    &__content {
        @apply relative mx-auto;
        max-width: var(--content-width);
    }

    &__plus {
        @apply --toolbox-button;
        @apply shrink-0;

        &-shortcut {
            @apply mt-[5px] opacity-60;
            word-spacing: -2px;

            &-key {
                @apply text-white;
            }
        }
    }

    /**
     * Block actions Zone
     */
    &__actions {
        @apply absolute flex opacity-0 pr-[5px];
        right: 100%;

        &--opened {
            @apply opacity-100;
        }
    }

    &__settings-btn {
        @apply --toolbox-button;
        @apply cursor-pointer select-none;

        &:active {
            @apply cursor-grabbing;
        }

        &--hidden {
            @apply hidden;
        }
    }

    &__plus,
    &__settings-btn {
        svg {
            @apply h-6 w-6;
        }
    }
}

/* Mobile styles - moved outside nesting to avoid @apply in nested @media */
@media (--mobile) {
    .blok-toolbar__plus {
        @apply --overlay-pane;
        @apply static;
    }

    .blok-toolbar__actions {
        @apply right-auto;
    }

    .blok-toolbar__settings-btn {
        @apply --overlay-pane;
        @apply static;
    }
}

@media (--not-mobile) {
    .blok-toolbar__settings-btn {
        @apply w-6;
    }

    .blok-editor--narrow .blok-toolbar__plus {
        @apply left-[5px];
    }
}

@media (--can-hover) {
    .blok-toolbar__settings-btn:hover {
        @apply cursor-grab;
    }

    .blok-toolbar__settings-btn--opened:hover {
        @apply cursor-pointer;
    }

    .blok-editor--toolbox-opened .blok-toolbar__settings-btn:hover {
        @apply cursor-pointer;
    }
}
