/**
* Blok wrapper
*/
.blok-editor {
    position: relative;
    box-sizing: border-box;
    z-index: 1;

    .hide {
        display: none;
    }

    &__redactor {
        /**
     * Workaround firefox bug: empty content editable elements has collapsed height
     * https://bugzilla.mozilla.org/show_bug.cgi?id=1098151#c18
     */
        [contenteditable]:empty::after {
            content: "\feff ";
        }
    }

    /**
   * Styles for narrow holder
   */
    &--narrow &__redactor {
        @media (--not-mobile) {
            margin-right: var(--narrow-mode-right-padding);
        }
    }

    &--narrow&--rtl &__redactor {
        @media (--not-mobile) {
            margin-left: var(--narrow-mode-right-padding);
            margin-right: 0;
        }
    }

    &--narrow .blok-toolbar__actions {
        @media (--not-mobile) {
            right: calc(-1 * var(--narrow-mode-right-padding) - 5px);
        }
    }

    &--narrow&--rtl .blok-toolbar__actions {
        @media (--not-mobile) {
            right: auto;
            left: calc(-1 * var(--narrow-mode-right-padding) - 5px);
        }
    }

    &-copyable {
        position: absolute;
        height: 1px;
        width: 1px;
        top: -400%;
        opacity: 0.001;
    }

    &-overlay {
        position: fixed;
        inset: 0;
        z-index: 999;
        pointer-events: none;
        overflow: hidden;

        &__container {
            position: relative;
            pointer-events: auto;
            z-index: 0;
        }

        &__rectangle {
            position: absolute;
            pointer-events: none;
            background-color: rgba(46, 170, 220, 0.2);
            border: 1px solid transparent;
        }
    }

    svg {
        max-height: 100%;
    }

    path {
        stroke: currentColor;
    }

    /**
  * Set color for native selection
  */
    ::selection {
        background-color: var(--inlineSelectionColor);
    }

    /**
   * Class added when some block is being dragged
   */
    &--dragging {
        cursor: grabbing;

        .blok-toolbar__settings-btn {
            cursor: grabbing;
        }

        .blok-toolbar {
            pointer-events: none;
        }
    }
}

.blok-editor--toolbox-opened [contentEditable=true][data-blok-placeholder]:focus::before {
    opacity: 0 !important;
}

.blok-scroll-locked {
    overflow: hidden;
}

.blok-scroll-locked--hard {
    overflow: hidden;
    top: calc(-1 * var(--window-scroll-offset));
    position: fixed;
    width: 100%;
}
