@layer components {
  /* SVG defaults */
  .blok-editor svg {
    @apply max-h-full;
  }

  .blok-editor path {
    @apply stroke-current;
  }

  /* Native selection color */
  .blok-editor ::selection {
    background-color: theme('colors.selection-inline');
  }

  /* Redactor - Firefox empty contenteditable fix */
  .blok-editor__redactor [contenteditable]:empty::after {
    content: "\feff ";
  }

  /* Toolbox opened - Hide placeholder */
  .blok-editor.is-toolbox-opened [contentEditable=true][data-blok-placeholder]:focus::before {
    @apply !opacity-0;
  }
}
