.blok-overlay-pane {
  @apply absolute bg-white border border-popover-border shadow-overlay-pane rounded-[6px] z-[2];
}

.blok-overlay-pane.is-left-oriented::before {
  left: 15px;
  margin-left: 0;
}

.blok-overlay-pane.is-right-oriented::before {
  left: auto;
  right: 15px;
  margin-left: 0;
}

.blok-toolbox-button {
  @apply text-dark cursor-pointer w-toolbox-btn h-toolbox-btn rounded-[7px] inline-flex justify-center items-center select-none;
}

@screen mobile {
  .blok-toolbox-button {
    width: theme('width.toolbox-btn-mobile');
    height: theme('height.toolbox-btn-mobile');
  }
}

@screen can-hover {
  .blok-toolbox-button:hover {
    background-color: theme('colors.bg-light');
  }
}

.blok-toolbox-button.is-active {
  @apply bg-bg-light animate-bounce-in;
}

.blok-tool-icon {
  @apply inline-flex w-toolbox-btn h-toolbox-btn shadow-tool-icon rounded-[5px] items-center justify-center bg-white box-content shrink-0 mr-[10px];
}

.blok-tool-icon svg {
  @apply w-icon h-icon;
}

@screen mobile {
  .blok-tool-icon {
    width: theme('width.toolbox-btn-mobile');
    height: theme('height.toolbox-btn-mobile');
    border-radius: 8px;
  }

  .blok-tool-icon svg {
    width: theme('width.icon-mobile');
    height: theme('height.icon-mobile');
  }
}

@keyframes bounceIn {
  0% { transform: scale(1); }
  30% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
