/**
 * Plugin styles
 */
.blok-header {
  @apply py-[0.6em] pb-[3px] px-0 m-0 leading-[1.25em] outline-none;
}

h1.blok-header {
  @apply text-[2.5em] font-bold;
}

h2.blok-header {
  @apply text-[2em] font-semibold;
}

h3.blok-header {
  @apply text-[1.75em] font-semibold;
}

h4.blok-header {
  @apply text-[1.5em] font-semibold;
}

h5.blok-header {
  @apply text-[1.25em] font-semibold;
}

h6.blok-header {
  @apply text-base font-semibold;
}

.blok-header p,
.blok-header div {
  @apply !p-0 !m-0;
}
