/**
 * Paragraph tool styles
 */
.blok-paragraph {
  line-height: 1.6em;
  outline: none;
}

/**
 * Placeholder styles for empty paragraphs
 * Only show placeholder when the paragraph is the only block
 */
.ce-block:only-of-type .blok-paragraph[data-placeholder-active]:empty::before,
.ce-block:only-of-type .blok-paragraph[data-placeholder-active][data-empty='true']::before {
  content: attr(data-placeholder-active);
}

.blok-paragraph p:first-of-type {
  margin-top: 0;
}

.blok-paragraph p:last-of-type {
  margin-bottom: 0;
}
