name: Size Limit

on:
  pull_request:
    branches: [master]
    paths:
      - 'src/**'
      - 'package.json'
      - 'yarn.lock'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  size:
    name: Check Bundle Size
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and Dependencies
        uses: ./.github/actions/setup-node-deps

      # Note: The first PR adding size-limit will fail comparison because
      # the base branch (master) doesn't have size-limit configured yet.
      # After merge, all subsequent PRs will work correctly.
      # See: https://github.com/andresz1/size-limit-action/issues/33
      - name: Check bundle size
        uses: andresz1/size-limit-action@v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
